body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Roboto", sans-serif;
}
*::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
}

*::-webkit-scrollbar-thumb {
  -webkit-appearance: none;
  width: 3px;
  background-color: rgba(192, 189, 189, 0.5);
  box-shadow: 0 0 1px rgba(250, 244, 244, 0.5);
  border: 3px solid transparent;
  border-radius: 9px;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  -webkit-appearance: none;
  width: 3px;
  background-color: rgba(192, 189, 189, 0.5);
  box-shadow: 0 0 1px rgba(250, 244, 244, 0.5);
  border: 2px solid transparent;
  border-radius: 9px;
  background-clip: content-box;
}
